# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.history
migrate_working_dir/

# System/Editor-related
.atom/
.svn/
.swiftpm/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
**/doc/api/
**/ios/Flutter/.last_build_id

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android build outputs
/android/app/debug
/android/app/profile
/android/app/release

# Environment and local overrides
.env
Makefile.local
